* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background-color: #504945;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}
window#waybar.termite {
    background-color: #3F3F3F;
}
window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces {
    margin-right: 10px;
}

#workspaces button {
    min-width: 0;
    padding: 0 10px;
    background-color: #282828;
    color: #bdae93;
    transition-property: background-color;
    transition-duration: 0.2s;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    color: #fbf1c7;
    background-color: #64727D;
    border-bottom: 3px solid #ebdbb2;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    background-color: #282828;
    color: #ffffff;
}
